---
layout: default
---
<div class="container-fluid hero-unit">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<img src="{{ site.baseurl }}/images/laptop_solid_icon.png" alt="" width="149" height="107">
					<h1 class="tt-u">LAUNCH Hackathon Getting Started Guide</h1>
					<p>This guide will walk you through the Best Buy API family and help you get up and running quickly for the LAUNCH Hackathon.</p>
			</div>
		</div>
	</div>
</div>
{% for section in site.sections %}
<a id="{{section.id}}" class="anchor"></a>
{% if section.title %}
<div class="container-fluid header-row">
    <div class="container tt-u ta-c">
        <h1>{{section.title}}</h1>
    </div>
</div>
{% endif %}
<div class="container">
    {{section.output}}
</div>
{% endfor %}