---
layout: default
---
<div class="container-fluid hero-unit">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<img src="{{ site.baseurl }}/images/laptop_solid_icon.png" alt="" width="149" height="107">
					<h1 class="tt-u">LAUNCH Hackathon Getting Started Guide</h1>
					<p>This guide will walk you through the Best Buy API family and help you get up and running quickly for the LAUNCH Hackathon..</p>
			</div>
		</div>
	</div>
</div>
<div class="container apis">
    {% for api in site.apis %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'odd' %}
    <div class="row">
    {% endif %}
        <div class="col-sm-6 {{api.class}}">
            <div class="media">
                <a href="{{api.href}}">
                    <img src="{{ site.baseurl }}{{api.retina}}" alt="" class="media-object pull-left">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a href="{{api.href}}">{{api.name}}</a>
                    </h4>
                    {{api.output}}
                </div>
            </div>
        </div>
    {% if thecycle == 'even' or forloop.last %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% for section in site.sections %}
<div class="container-fluid header-row">
    <div class="container tt-u ta-c">
        <a id="{{section.id}}" class="anchor"></a>
        <h1>{{section.title}}</h1>
    </div>
</div>
<div class="container">
    {{section.output}}
</div>
{% endfor %}