<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_67" id="code_67-json" value="json" checked="checked">
        <label for="code_67-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.bestbuy.com/beta/products/connectedHome?apiKey=YourAPIKey</code>
                <hr><pre class="hljs code-json code"><code class="req"><span class="hljs-comment">#response:
  "<span class="hljs-attribute">results</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">customerReviews</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">averageScore</span>": <span class="hljs-value"><span class="hljs-string">"4.6"</span></span>,
        "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">704</span>
      </span>}</span>,
      "<span class="hljs-attribute">descriptions</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">short</span>": <span class="hljs-value"><span class="hljs-string">"Compatible with most 24V heating and cooling systems; works with PEQ; Airwave, Auto-Schedule and Auto-Away functions; System Match technology; Wi-Fi connectivity; 1.75\" LCD panel"</span>
      </span>}</span>,
      "<span class="hljs-attribute">images</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">standard</span>": <span class="hljs-value"><span class="hljs-string">"http://img.bbystatic.com/BestBuy_US/images/products/6913/6913825_sc.jpg"</span>
      </span>}</span>,
      "<span class="hljs-attribute">links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">product</span>": <span class="hljs-value"><span class="hljs-string">"http://api.remix.bestbuy.com/v1/products/6913825.json?apiKey=YourAPIKey"</span></span>,
        "<span class="hljs-attribute">web</span>": <span class="hljs-value"><span class="hljs-string">"http://www.bestbuy.com/site/nest-learning-thermostat-2nd-generation-stainless-steel/6913825.p?id=1218813789398&amp;skuId=6913825&amp;cmp=RMX&amp;ky=28eiIkWRnU6kpSRaThWcSIdBYJmvGGbrI"</span></span>,
        "<span class="hljs-attribute">addToCart</span>": <span class="hljs-value"><span class="hljs-string">"http://www.bestbuy.com/site/olspage.jsp?id=pcmcat152200050035&amp;type=category&amp;cmp=RMX&amp;ky=28eiIkWRnU6kpSRaThWcSIdBYJmvGGbrI&amp;qvsids=6913825"</span>
      </span>}</span>,
      "<span class="hljs-attribute">names</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Nest - Learning Thermostat - 2nd Generation - Stainless-Steel"</span>
      </span>}</span>,
      "<span class="hljs-attribute">prices</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">current</span>": <span class="hljs-value"><span class="hljs-number">249.99</span></span>,
        "<span class="hljs-attribute">regular</span>": <span class="hljs-value"><span class="hljs-number">249.99</span>
      </span>}</span>,
      "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-string">"6913825"</span>
    </span>},
...</span>
</span></code></pre>
            </div>
        </div>
    </div>
</div>