<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_66" id="code_66-json" value="json" checked="checked">
        <label for="code_66-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/products/8880044.json?apiKey=YourAPIKey</code>
                <hr><pre class="hljs code-json code"><code class="req"><span class="hljs-comment">#response:</span><br></code><code>{
  "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-number">8880044</span></span>,
  "<span class="hljs-attribute">productId</span>": <span class="hljs-value"><span class="hljs-number">1484301</span></span>,
  "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Batman Begins (Blu-ray Disc)"</span>
...</span></code></pre>
            </div>
        </div>
    </div>
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_66" id="code_66-xml" value="xml">
        <label for="code_66-xml">xml</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/products/8880044.xml?apiKey=YourAPIKey</code>
                <hr><pre class="hljs code-xml code"><code class="req"><span class="hljs-comment">#response:</span><br></code><code><span class="hljs-tag">&lt;<span class="hljs-title">product</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">sku</span>&gt;</span>8880044<span class="hljs-tag">&lt;/<span class="hljs-title">sku</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">productId</span>&gt;</span>1484301<span class="hljs-tag">&lt;/<span class="hljs-title">productId</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">name</span>&gt;</span>Batman Begins (Blu-ray Disc)<span class="hljs-tag">&lt;/<span class="hljs-title">name</span>&gt;</span>
...</code></pre>
            </div>
        </div>
    </div>
</div>