<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_69" id="code_69-json" value="json" checked="checked">
        <label for="code_69-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.bestbuy.com/beta/products/mostViewed?apiKey=YourAPIKey
</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">results</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">productLink</span>": <span class="hljs-value"><span class="hljs-string">"http://api.remix.bestbuy.com/v1/products/2712009.json?apiKey=yourAPIKey"</span></span>,
      "<span class="hljs-attribute">rank</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-string">"2712009"</span>
    </span>},
    {
      "<span class="hljs-attribute">productLink</span>": <span class="hljs-value"><span class="hljs-string">"http://api.remix.bestbuy.com/v1/products/3826014.json?apiKey=yourAPIKey"</span></span>,
      "<span class="hljs-attribute">rank</span>": <span class="hljs-value"><span class="hljs-number">2</span></span>,
      "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-string">"3826014"</span>
    </span>},
  ]
</span>}
</code></pre>
            </div>
        </div>
    </div>
</div>