<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_101" id="code_101-json" value="json" checked="checked">
        <label for="code_101-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/products(categoryPath.name=%22Home%20Automation%22)?format=json&show=sku,name,salePrice&facet=manufacturer,5&apiKey=YourAPIKey
</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">metadata</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">resultSet</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">1480</span>
    </span>}</span>,
    "<span class="hljs-attribute">context</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">canonicalUrl</span>": <span class="hljs-value"><span class="hljs-string">"http://api.bestbuy.com/beta/products/openBox?apiKey=YourAPIKey"</span>
    </span>}</span>,
    "<span class="hljs-attribute">page</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">current</span>": <span class="hljs-value"><span class="hljs-number">1</span></span>,
      "<span class="hljs-attribute">size</span>": <span class="hljs-value"><span class="hljs-number">10</span></span>,
      "<span class="hljs-attribute">total</span>": <span class="hljs-value"><span class="hljs-number">148</span>
    </span>}
  </span>}</span>,
  "<span class="hljs-attribute">results</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">customerReviews</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">averageScore</span>": <span class="hljs-value"><span class="hljs-string">"4.5"</span></span>,
        "<span class="hljs-attribute">count</span>": <span class="hljs-value"><span class="hljs-number">499</span>
      </span>}</span>,
      "<span class="hljs-attribute">descriptions</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">short</span>": <span class="hljs-value"><span class="hljs-string">"Google Chrome 64-bitTechnical details: Intel&amp;#174; Celeron&amp;#174; processor; 11.6\" display; 2GB memory; 16GB eMMC flash memorySpecial features: Bluetooth; HDMI outputNote: DVD/CD drive not included"</span>
      </span>}</span>,
      "<span class="hljs-attribute">images</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">standard</span>": <span class="hljs-value"><span class="hljs-string">"http://img.bbystatic.com/BestBuy_US/images/products/8610/8610161_sc.jpg"</span>
      </span>}</span>,
      "<span class="hljs-attribute">links</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">product</span>": <span class="hljs-value"><span class="hljs-string">"http://api.remix.bestbuy.com/v1/products/8610161.json?apiKey=YourAPIKey"</span></span>,
        "<span class="hljs-attribute">web</span>": <span class="hljs-value"><span class="hljs-string">"http://www.bestbuy.com/site/acer-11-6-chromebook-intel-celeron-2gb-memory-16gb-emmc-flash-memory-moonstone-white/8610161.p?id=1219351773817&amp;skuId=8610161&amp;cmp=RMX&amp;ky=28eiIkWRnU6kpSRaThWcSIdBYJmvGGbrI#tab=buyingOptions"</span>
      </span>}</span>,
      "<span class="hljs-attribute">names</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">title</span>": <span class="hljs-value"><span class="hljs-string">"Acer - 11.6\" Chromebook - Intel Celeron - 2GB Memory - 16GB eMMC Flash Memory - Moonstone White"</span>
      </span>}</span>,
      "<span class="hljs-attribute">offers</span>": <span class="hljs-value">[
        {
          "<span class="hljs-attribute">condition</span>": <span class="hljs-value"><span class="hljs-string">"excellent"</span></span>,
          "<span class="hljs-attribute">prices</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">current</span>": <span class="hljs-value"><span class="hljs-number">140.99</span></span>,
            "<span class="hljs-attribute">regular</span>": <span class="hljs-value"><span class="hljs-number">199</span>
          </span>}
        </span>},
        {
          "<span class="hljs-attribute">condition</span>": <span class="hljs-value"><span class="hljs-string">"certified"</span></span>,
          "<span class="hljs-attribute">prices</span>": <span class="hljs-value">{
            "<span class="hljs-attribute">current</span>": <span class="hljs-value"><span class="hljs-number">149.99</span></span>,
            "<span class="hljs-attribute">regular</span>": <span class="hljs-value"><span class="hljs-number">199</span>
          </span>}
        </span>}
      ]</span>,
      "<span class="hljs-attribute">prices</span>": <span class="hljs-value">{
        "<span class="hljs-attribute">current</span>": <span class="hljs-value"><span class="hljs-number">159</span></span>,
        "<span class="hljs-attribute">regular</span>": <span class="hljs-value"><span class="hljs-number">199</span>
      </span>}</span>,
      "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-string">"8610161"</span>
    </span>},</span>

</code></pre>
            </div>
        </div>
    </div>
</div>