<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_72" id="code_72-json" value="json" checked="checked">
        <label for="code_72-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/reviews(sku=1780275)?format=json&apiKey=yourAPIKey&show=all
</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">reviews</span>":<span class="hljs-value">[
    {
      "<span class="hljs-attribute">id</span>":<span class="hljs-value"><span class="hljs-number">37261317</span></span>,
      "<span class="hljs-attribute">sku</span>":<span class="hljs-value"><span class="hljs-number">1780275</span></span>,
      "<span class="hljs-attribute">reviewer</span>":<span class="hljs-value">[
        {
          "<span class="hljs-attribute">name</span>":<span class="hljs-value"><span class="hljs-string">"Jack"</span>
        </span>}
      ]</span>,
      "<span class="hljs-attribute">aboutMe</span>":<span class="hljs-value">[

      ]</span>,
      "<span class="hljs-attribute">rating</span>":<span class="hljs-value"><span class="hljs-number">5.0</span></span>,
      "<span class="hljs-attribute">title</span>":<span class="hljs-value"><span class="hljs-string">"Great Apple product"</span></span>,
      "<span class="hljs-attribute">comment</span>":<span class="hljs-value"><span class="hljs-string">"Nice and compact and easy to use .This Apple product is dependable and\ni recommend it"</span></span>,
      "<span class="hljs-attribute">submissionTime</span>":<span class="hljs-value"><span class="hljs-string">"2014-09-27T07:43:13"</span>
    </span>},
  ]
</span>}
</code></pre>
            </div>
        </div>
    </div>
</div>