<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_68" id="code_68-json" value="json" checked="checked">
        <label for="code_68-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/products(categoryPath.name=%22Home%20Automation%22)?format=json&show=sku,name,salePrice&facet=manufacturer,5&apiKey=YourAPIKey
</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">products</span>": <span class="hljs-value">[
    {
      "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-number">2300063</span></span>,
      "<span class="hljs-attribute">name</span>": <span class="hljs-value"><span class="hljs-string">"Belkin - WeMo Insight Switch - White/Gray"</span></span>,
      "<span class="hljs-attribute">salePrice</span>": <span class="hljs-value"><span class="hljs-number">59.99</span>
    </span>},
  ]</span>,
  "<span class="hljs-attribute">facets</span>": <span class="hljs-value">{
    "<span class="hljs-attribute">manufacturer</span>": <span class="hljs-value">{
      "<span class="hljs-attribute">philips</span>": <span class="hljs-value"><span class="hljs-number">13</span></span>,
      "<span class="hljs-attribute">honeywell</span>": <span class="hljs-value"><span class="hljs-number">4</span></span>,
      "<span class="hljs-attribute">kwikset</span>": <span class="hljs-value"><span class="hljs-number">3</span></span>,
      "<span class="hljs-attribute">nest</span>": <span class="hljs-value"><span class="hljs-number">3</span>
    </span>}
  </span>}
</span>}
</code></pre>
            </div>
        </div>
    </div>
</div>