<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_102" id="code_102-json" value="json" checked="checked">
        <label for="code_102-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/products(onSale=true)?show=sku&format=json&page=1&apiKey=YourAPIKey</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">products</span>": <span class="hljs-value">[{
    "<span class="hljs-attribute">sku</span>": <span class="hljs-value"><span class="hljs-number">7113077</span></span>,
    "<span class="hljs-attribute">salePrice</span>": <span class="hljs-value"><span class="hljs-number">0.99</span></span>,
    "<span class="hljs-attribute">regularPrice</span>": <span class="hljs-value"><span class="hljs-number">19.99</span></span>,
    "<span class="hljs-attribute">percentSavings</span>": <span class="hljs-value"><span class="hljs-string">"95.05"</span></span>,
    "<span class="hljs-attribute">dollarSavings</span>": <span class="hljs-value"><span class="hljs-number">19.00</span>
  </span>}]
</span>}
</code></pre>
            </div>
        </div>
    </div>
</div>