<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_70" id="code_70-json" value="json" checked="checked">
        <label for="code_70-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/stores(postalCode=55423)?format=json&apiKey=YourAPIKey</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">stores</span>":<span class="hljs-value">[
    {
      "<span class="hljs-attribute">storeId</span>":<span class="hljs-value"><span class="hljs-number">2387</span></span>,
      "<span class="hljs-attribute">storeType</span>":<span class="hljs-value"><span class="hljs-string">"Mobile"</span></span>,
      "<span class="hljs-attribute">lat</span>":<span class="hljs-value"><span class="hljs-number">44.882942</span></span>,
      "<span class="hljs-attribute">lng</span>":<span class="hljs-value">-<span class="hljs-number">93.2775</span></span>,
      "<span class="hljs-attribute">hours</span>":<span class="hljs-value"><span class="hljs-string">"Mon: 11-8; Tue: 11-8; Wed: 11-8; Thurs: 11-8; Fri: 11-8; Sat: 11-7; Sun: 11-6"</span></span>,
      "<span class="hljs-attribute">services</span>":<span class="hljs-value">[
        {
          "<span class="hljs-attribute">service</span>":<span class="hljs-value"><span class="hljs-string">"Best Buy Mobile Specialty Store"</span>
        </span>},

      ]</span>,
      "<span class="hljs-attribute">phone</span>":<span class="hljs-value"><span class="hljs-string">"612-866-0957"</span></span>,
      "<span class="hljs-attribute">postalCode</span>":<span class="hljs-value"><span class="hljs-string">"55423"</span>
    </span>}
  ]
</span>}
</code></pre>
            </div>
        </div>
    </div>
</div>