<div class="code-blocks">
    <div class="code-block">
        <input type="radio" class="code-selector" name="code_71" id="code_71-json" value="json" checked="checked">
        <label for="code_71-json">json</label>
        <div class="content">
            <div class="pos-r"><code class="hljs req"><span class="hljs-comment">#request:</span><br>http://api.remix.bestbuy.com/v1/stores(area(44.97,-93.44,10))+products(sku=43900)?format=json&show=city,hours,products.name,products.salePrice&apiKey=YourAPIKey
</code>
                <hr><pre class="hljs"><code class="lang-json">{
  "<span class="hljs-attribute">stores</span>":<span class="hljs-value">[
    {
      "<span class="hljs-attribute">city</span>":<span class="hljs-value"><span class="hljs-string">"Richfield"</span></span>,
      "<span class="hljs-attribute">hours</span>":<span class="hljs-value"><span class="hljs-string">"Mon: 10-9; Tue: 10-9; Wed: 10-9; Thurs: 10-9; Fri: 10-9; Sat: 10-9; Sun: 10-8"</span></span>,
      "<span class="hljs-attribute">products</span>":<span class="hljs-value">[
        {
          "<span class="hljs-attribute">name</span>":<span class="hljs-value"><span class="hljs-string">"Duracell - AAA Batteries (4-Pack)"</span></span>,
          "<span class="hljs-attribute">salePrice</span>":<span class="hljs-value"><span class="hljs-number">4.99</span>
        </span>}
      ]
    </span>}
  ]
</span>}
</code></pre>
            </div>
        </div>
    </div>
</div>